<form [formGroupName]="'dataEntry'">
  <div class="p-datatable p-component">
    <div class="p-datatable-wrapper">
      <table class="p-datatable-gridlines" style="width: 100%">
        <thead class="p-datatable-thead"></thead>
        <tbody class="p-element p-datatable-tbody">
          <tr *ngFor="let col of cols">
            <td>{{ col.header | transloco | titlecase }}</td>
            <td *ngIf="col.field !== 'isAuthorized'">
              <p-calendar  [showIcon]="true" [placeholder]="col.header | transloco | titlecase" appendTo="body" [formControlName]="col.field" dateFormat="yy-mm-dd"> </p-calendar>
              <div *ngIf="formData.get(col.field).invalid && (formData.get(col.field).dirty || formData.get(col.field).touched)">
                <small class="text-red-500" *ngIf="formData.get(col.field).errors.required">{{ 'THIS_FIELD_IS_REQUIRED' | transloco | titlecase }}</small>
              </div>
              <div>
                <small class="text-red-500" *ngIf="col.field === 'validTo' && formData.hasError('dateRange')">'{{ 'VALID_FROM_MUST_BE_BEFORE_VALID_TO' | transloco | titlecase }}'</small>
              </div>
            </td>
            <td *ngIf="col.field === 'isAuthorized'">
              <p-tag *ngIf="!formData.get('isAuthorized').value" icon="pi pi-times" severity="danger" value="{{ 'NOT_AUTHORIZED' | transloco | titlecase }}"></p-tag>
              <p-tag *ngIf="formData.get('isAuthorized').value" icon="pi pi-check" severity="success" value="{{ 'AUTHORIZED' | transloco | titlecase }}"></p-tag>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</form>
